@{
    ViewBag.Title = "Регистрация прошла успешно!";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}





@section Context{
    <div class="box-content">
        <h2>@ViewBag.Title</h2>
        <br/>
        <p>
            Теперь Вы можете выполнить @Html.ActionLink("вход на сайт", "Index", "Account").
        </p>
    </div>
}

@section LoginOrRegister{
    <div id="navigation">
        <ul><li>@Html.ActionLink("Войти", "Index", "Account")</li></ul>
    </div>
}

@section EditOrBuy
{
    
}