@model Domain.Entities.Interfaces.ICustomer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>Get Customer By Id # @ViewBag.CustomerId :</p>
<p>
    
</p>
*@