@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ошибка</title>
</head>
<body>
    <h2>
        Произошла ошибка при обработке вашего запроса.
    </h2>
    <br/>
    <p>Возможно, что истекло время вашего пребывания на сайте</p>
    <p>Пожалуйста, перейдите на страницу "@Html.ActionLink("Войти", "LogIn", "Account")"</p>
    
    <br/>
        <p>Перейти на @Html.ActionLink("Главную", "Index", "Home")</p>
</body>
</html>